.collapsible {
    background: linear-gradient(
        135deg,
        $primary-color 0%,
        $secondary-color 100%
    );
    color: $white-color;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: medium;
}

.active, .collapsible:hover {
    opacity: .8;
}
  
.collapsible:after {
    content: '\002B';
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.collapse_content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}